@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.inputs{
  width: 424px;
  height: 30px;
  outline: none;
  background-color: rgba(50, 50, 50, 0.8);
  color: white;
  display: flex;
  margin-top: 10px;
  padding-left: 5px;
  border-radius: 5px;
  font-size: 10pt;
  box-shadow: 0px 1px 3px black;
}

::placeholder{
  color: white;
}

.form-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons{
  width: 100px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 60px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  margin-right: 6px;
  transition: transform 0.3s ease-in-out;
}

.buttons:hover{
  transform: scale(1.03);
}

.buttons#cadastrar{
  background: rgb(30, 200, 30);
  margin-left: 0;
}

.buttons#alterar{
  background: rgb(80, 31, 239);
}

.buttons#deletar{
  background: rgb(237, 77, 19);
}

.buttons#cancelar{
  background: rgb(62, 62, 62);
  margin: 0;
}
.buttons#button-select{
  background: rgb(24, 201, 24);
}